@import url ("/usr/share/gnome-shell/theme/gnome-shell.css");

#panel {
  /* 30% transparency */
  background-color: rgba(0,0,0,0.3); 
}

/* remove panel-corner radius */
.panel-corner {
  -panel-corner-radius: 0px;
}

/* top bar menu */
.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-background-color: rgba(255,255,255,1);
    color: black;
}

/* top bar menu item:hover */
.popup-menu-item:hover {
    background-color: #56B6EC;
    color: white;
}

.popup-sub-menu {
    background-gradient-start: rgba(255,255,255,1);
    background-gradient-end: rgba(255,255,255,1);
    background-gradient-direction: vertical;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.9);
}

/* When submenu is open */
.popup-submenu-menu-item:open {
   background-color: #ffffff;
    color: black;
}