@import url ("/usr/share/gnome-shell/theme/gnome-shell.css");

#panel {
  height:30px;
  /*for  full transparency */
  /*background-color: transparent; */
  
  /* or  30%*/
  background-color: rgba(0,0,0,0.3); 
}

.panel-corner {
  -panel-corner-radius: 0px;
}


.popup-menu-boxpointer,
.candidate-popup-boxpointer {
    -arrow-border-radius: 8px;
    -arrow-background-color: rgba(0,0,0,0.9); 
    -arrow-border-width: 2px;
    -arrow-border-color: #a5a5a5;
    -arrow-base: 24px;
    -arrow-rise: 11px;
}

